p,
ol {
  margin: 2.5em 0;
}

li:target {
  background-color: var(--green-outline-color);
}

#layout {
  gap: 4em;
}

#main {
  height: 100%;
}

#about {
  padding: 10em 2em;
}

#sidebar #navigation li a {
  padding: 0 2em;
}

.center {
  text-align: center;
}

#definitions-button {
  width: 100%;
  margin: 2em 0;
  padding: 0.5em;
  border: 2px double var(--green-outline-color);
  background-color: var(--pink);
  color: var(--green-link-color);
  font-weight: bold;
  box-shadow: 0 5px 0 0 #619962;
}

#definitions-button.hide-state {
  margin-bottom: 0;
  border: 2px double var(--pink);
  background-color: var(--green-outline-color);
  color: var(--purple-text-color);
  box-shadow: 0 5px 0 0 #b985bc;
}

#definitions-button:hover {
  background-color: var(--green-outline-color);
  text-decoration: underline;
}

#definitions-button:active {
  transform: translateY(5px);
  box-shadow: none;
}

#definitions-box {
  display: none;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  border: 2px double var(--purple-text-color);
  font-size: 0.85em;
}

#definitions-box li span {
  font-weight: bold;
}

.image-container {
  padding: 2em 0;
}

.image-container img {
  width: 100%;
  border: 4px double var(--purple-text-color);
}

.image-container span {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
  text-align: center;
}

ol:not(.dont-break) li {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  p,
  ol {
    font-size: 0.9em;
  }

  #layout {
    gap: 0;
  }

  #about {
    padding: 4em 2em;
  }

  #sidebar #navigation li a {
    padding: 0.5em 1.5em;
  }
}

@media only screen and (max-width: 480px) {
  #layout #main {
    outline: none;
    border: none;
  }

  #sidebar #navigation li {
    border: 2px dashed var(--green-outline-color);
    outline: none;
    margin: 0;
  }
}
