#text-image-container img {
  float: right;
  width: 40%;
}

#images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  padding: 0 2em;
  list-style: none;
  gap: 12px;
}

#images li img {
  width: 50px;
  height: 25px;
  outline: 4px double var(--purple-text-color);
}

@media only screen and (max-width: 768px) {
  #images {
    padding: 4em 0;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}

@media only screen and (max-width: 480px) {
  #about h1 {
    margin-bottom: 0;
  }

  #text-image-container p:first-of-type {
    padding-top: 2em;
  }

  #text-image-container img {
    width: 156px;
    height: 156px;
  }

  #images {
    padding: 2em 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
