*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --blue-text-color: #350cc9;
  --green-link-color: #065b27;
  --purple-text-color: #ad00ec;

  --main-background-color: rgba(188, 197, 252, 0.5);
  --main-box-shadow-color: rgba(255, 255, 255, 0.5);

  --green-outline-color: #b0ffb1;
  --body-background-color: #e1e8ff;
  --pink: #fcc1ff;
}

::selection {
  background-color: #000;
  color: var(--pink);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16.2px;
  line-height: 1.5;
  font-family: "Source Code Pro", monospace;
  background-color: var(--body-background-color);
  color: var(--blue-text-color);
  overflow: hidden;
}

button,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--purple-text-color);
  font-family: "Ribeye Marrow", sans-serif;
}

h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}

a {
  color: var(--green-link-color);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: 400;
}

#background-image {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../images/index-background-image.png");
  background-attachment: fixed;
  background-position: bottom;
}

#layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 95%;
  height: 100%;
  margin: auto;
}

#main {
  height: 75%;
  width: 50%;
  overflow: scroll;
  border-left: 10px double var(--pink);
  border-right: 10px double var(--pink);
  outline: 10px dashed var(--green-outline-color);
  background-color: var(--main-background-color);
  backdrop-filter: blur(5px) contrast(150%);
  box-shadow: inset 0 0px 50px 5px var(--main-box-shadow-color);
}

#main section,
#about {
  padding: 4em 2em;
}

#main section:not(#about) {
  display: none;
}

#main section:target {
  display: block !important;
}

#main section:target ~ #about {
  display: none;
}

#main p {
  margin-bottom: 2em;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sidebar #navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar #navigation li {
  margin: 0 0 1em 0;
  outline: 2px dashed var(--green-outline-color);
  background-color: var(--body-background-color);
  box-shadow: 0px 5px 0 0 var(--purple-text-color);
  font-size: 1.3em;
  font-family: "Ribeye Marrow", sans-serif;
}

#sidebar #navigation li a {
  display: block;
  padding: 0 1.3em;
  color: var(--purple-text-color);
  font-weight: 700;
  text-decoration: none;
}

#sidebar #navigation li:hover {
  background-color: var(--green-outline-color);
}

#sidebar #navigation li:hover a {
  text-decoration: underline;
}

#obsessions ul li,
#socials ul li {
  margin-bottom: 1em;
}

#first-heading {
  font-size: 3.7em;
}

.poetic-piece {
  padding: 2em;
  color: var(--purple-text-color);
  font-size: 0.8em;
}

.poetic-piece p {
  text-align: center;
  font-style: italic;
}

.poetic-piece span {
  display: block;
  text-align: right;
  font-weight: bold;
}

#note-on-radical-feminism {
  scroll-margin-top: 3em;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 16px;
  }

  #layout {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  #main {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #sidebar {
    width: 100%;
    z-index: 2;
  }

  #sidebar #navigation {
    display: flex;
    width: 100%;
    padding: 2em;
    overflow: scroll;
    font-size: 0.9em;
    text-align: center;
  }

  #sidebar #navigation li {
    width: 100%;
    background-color: var(--pink);
    box-shadow: inset 0 -5px 10px rgba(248, 115, 255, 0.25);
    font-size: 1em;
  }

  #sidebar #navigation li:hover {
    box-shadow: inset 0 5px 10px rgba(240, 255, 240, 0.25);
    transform: none;
  }

  #sidebar #navigation li a {
    padding: 0.5em 1.5em;
  }
}

@media only screen and (max-width: 480px) {
  #main {
    outline: 5px dashed var(--green-outline-color);
  }

  #sidebar #navigation {
    padding: 0;
  }

  #sidebar #navigation li {
    margin: 1em 0 calc(1em + 5px) 0;
    outline: 2px double var(--green-outline-color);
  }

  #sidebar #navigation li,
  #sidebar #navigation li:hover {
    box-shadow: none;
  }

  #first-heading {
    font-size: 3.052em;
  }
}
